*.jou
*.log
*.pb
*.wdb
.*.timestamp
*.vcd
**/xsim.dir/
.*.toml
**/sim_build/
**/__pycache__
*.xml
**/.archive
**/archive_*
*.gtkw
**.vscode/
dfx_runtime.txt
.Xil/
.cache/
fsm_encoding.os
tab_*/
webtalk.*
vivado_pid*.str
hs_err_pid*
xelab.*
xsim.*
xvlog.*
*.cache
*.gen
*.hw
*.ip_user_files
*.sim
*.srcs
*.runs
*.backup.*
*.debug
*.xpr
